@* Footer navigation *@

<nav class="footer-nav">
    <ul>
        <li><a asp-controller="Form" asp-action="AddCourse">Lägg till kurs</a></li>
        <li><a asp-controller="Form" asp-action="AddProject">Lägg till projekt</a></li>   
    </ul>
</nav> 