@* Header navigation *@

<nav class="navbar">
    <ul class="nav-links">
        <li><a asp-controller="Home" asp-action="Index">Hem</a></li><div class="vertDivide"></div>
        <li><a asp-controller="Home" asp-action="Projects">Projekt</a></li><div class="vertDivide"></div>
        <li><a asp-controller="Home" asp-action="Courses">Utbildningar</a></li><div class="vertDivide"></div>
        <li><a asp-controller="Home" asp-action="CV">CV</a></li>
    </ul>
</nav>