@{
    ViewData["Title"] = "Rasmus Andersson";

}

<section class="homepage-container">

    <div class="homepage-content-box">
        <h2>Mer Om Mig</h2>
        <p>Rasmus heter jag, bosatt i Stockholm! Men det som är bra med webbutveckling är ju möjligheten att kunna 
        arbeta platsobundet!  
        Kika in till höger om mig eller under mig (beroende på hur stor din 
        skärm är) för att veta mer om vart jag vill!
        <br><br>
        Sen kan du ju såklart kolla in vad jag pluggat, se mina projekt samt kika in mitt CV!
        </p>
    </div>

    <div class="homepage-content-box">
        <div class="homepage-image">
            <img src="~/images/bild_cv_smaller.jpg" alt="">
        </div>
    </div>    

    <div class="homepage-content-box">
        <h2>Vad vill jag göra?</h2>
        <p>Jag är utbildad Fullstackutvecklare men med en extra kärlek till Frontend. Jag arbetar gärna med ramverk och 
        gillar att arbeta användarcentrerat och hitta schyssta lösningar på problem. Ser mig i framtiden hela tiden utveckla mina
        kunskaper i hela stacken, då jag ser värdet i att förstå vad som försigår i bakgrunden med! 
        </p>
    </div>

</section>

