@* CV profile text *@

<div class="profile-cv">
    <h2 class="profile-header">Profil</h2>
        <p class="profile-text">Drivs av att utveckla smarta lösningar med ett användarcentrerat fokus. 
        Mycket motiverad att fortsatt förbättra 
        mina tekniska färdigheter och min förmåga att utveckla kreativa och hållbara lösningar.</p>
</div>
