@* CV experience *@

<h2>Arbetslivserfarenhet</h2>

<h3>MASSAGETERAPEUT - Sturebadet</h3> 
<p>Januari 2020 - April 2020</p> 

<h3>PERSONLIG TRÄNARE - W8 Club Gym</h3>
<p>Februari 2015 - December 2022</p>

<h3>MASSAGETERAPEUT - Uggla Massage & Wellness</h3>
<p>Augusti 2015 - Tillsvidare</p>

<h2>Studier</h2>

<h3>WEBBUTVECKLINGSPROGRAMMET</h3>
<p><strong>Mittuniversitetet</strong></p> 
<p>Augusti 2021 - Juni 2013</p> 

<h3>FRISKVÅRDSTERAPEUT </h3>
<p><strong>2-årig YH - utbildning Bergqvist Massage & Friskvård</strong></p> 
<p>August 2013 - Maj 2015</p>




