@* CV techniques *@


<h2>Kompetens</h2>

<h3>Programmeringssprål</h3>
<ul>
    <li>HTML</li>
    <li>CSS & Sass</li>
    <li>JavaScript</li>
    <li>PHP</li>
    <li>C#</li>
</ul>

<h3>Ramverk & Plattformar</h3>
<ul>
    <li>Wordpress</li>
    <li>Vue</li>
    <li>React</li>
    <li>Tailwind CSS</li>
    <li>Laravel</li>
    <li>React</li>
    <li>Express & Node</li>
    <li>.NET</li>
</ul>

<h3>Övrigt</h3>
<ul>
    <li>API</li>
    <li>Gulp</li>
    <li>Vesionshantering i Git</li>
    <li>Responsiv design</li>
    <li>Relationsdatabaser</li>
    <li>NoSQL-databaser</li>
    <li>Tillgänglighet enligt WCAG</li>
    <li>Razor / Blazor / Web Assembly</li>
    <li>MVC</li>
    <li>Entity Framework i .NET</li>
</ul>