@* CV header partial *@


<div class="cv-header">
    <div class="cv-header-1">
        <img src="~/images/bild_cv.jpg" alt="">
    </div>
    <div class="cv-header-2">
        <h2>Rasmus <br>Andersson</h2>
        <h3> - Webbutvecklare</h3>
        
    </div>
</div>